<!DOCTYPE html>
<html>

<head>
    <title>Analysis</title>
    {% include "Header.html" %}


    <style>
        iframe{
            border: 2px solid black;
            min-height: 100vh;
            min-width: 100%;
        }

        h1 {
            text-align: center;

        }

        body {
            background-color: #F3FBF6;
            /* background-color: rgb(255, 255, 255); */
        }


    </style>
</head>


    <body>
        <h1>Article Analysis</h1>
        <iframe src="https://lookerstudio.google.com/embed/reporting/ebef42b2-196f-4cc6-a651-19df0d565230/page/CSOQD" frameborder="0" style="border:0" allowfullscreen></iframe>
    </body>
 </html>